.about {
  position: absolute !important;
  top: 15px;
  right: 15px;
  color: #6363dc;
  cursor: pointer;
}

.feature-card {
  position: relative;
  border-style: dotted;
  border-radius: 4px;
  padding: 10px;
  color: #ccc;

  .icon {
    position: absolute;
    right: 10px;
    top: 5px;
    color: black;
    cursor: pointer;
  }

  .info {
    font-size: 14px;
    margin-right: 10px;
    color: black !important;
  }
}

.dashboard-card {
  background-color: #e0eeff !important;
  min-height: 220px;

  .raging {
    display: flex;
    padding: 12px;
    background-color: white;
    border-radius: 5px;

    .rating-count {
      font-size: 22px;
      color: #3e7fe6;
    }

    p {
      margin-bottom: 0px;
    }
  }

  .star-icon {
    position: absolute;
    right: 28px;
    top: 18px;
  }

  .info {
    margin-top: 10px;
    padding: 12px;
    background-color: white;
    border-radius: 5px;
  }
}

.experience-card {
  .icon {
    position: absolute;
    right: 16px;
    top: 20px;
    color: #6363dc;
    cursor: pointer;
  }

  .edit-icon {
    position: absolute;
    right: -10px;
    top: 0px;
    color: #6363dc;
    cursor: pointer;
  }
}

.education-card {
  .icon {
    position: absolute;
    right: 16px;
    top: 20px;
    color: #6363dc;
    cursor: pointer;
  }

  .edit-icon {
    position: absolute;
    right: -10px;
    top: 0px;
    color: #6363dc;
    cursor: pointer;
  }
}

.skill-card {
  .add-skill {
    position: absolute;
    right: 16px;
    top: 20px;

    .icon {
      color: #6363dc;
      cursor: pointer;
    }
  }

  .quiz-btn {
    padding: 1px 12px;
  }
}

.recommendations-card {
  .add-recommendations {
    position: absolute;
    right: 16px;
    top: 20px;

    .icon {
      color: #6363dc;
      cursor: pointer;
    }
  }

  .rec-header {
    padding: 0;
    display: flex;
    border-bottom: 2px solid #ccc;

    li {
      padding-right: 10px;
    }

    li:first {
      color: green;
    }
  }
}

.user-card {
  position: absolute;
  background: aqua;
  width: 100%;
  margin-left: 0;
  left: 0;
}

.main-card-section {
  width: unset !important;
  margin: 0 14px !important;

  .main-card {
    .user-details {
      .avatar-icon-wrapper {
        position: absolute;
        left: 13px;
        top: 90px;
      }

      .user-info {
        background: white;

        .MuiLinearProgress-root {
          height: 18px !important;
          width: calc(100% - 105px);

          .MuiLinearProgress-bar {
            background: #070919;
          }
        }

        .edit {
          position: absolute;
          right: 25px;
          top: 0;
          cursor: pointer;
        }

        .right-corner-info {
          position: relative;
          border-style: dotted;
          padding: 5px;
          margin-top: 14px;
          border-radius: 5px;
          color: #ccc;
          font-size: 10px;

          .icon {
            position: absolute;
            right: 10px;
            top: 5px;
            color: black;
            cursor: pointer;
          }

          span {
            color: black;
            padding-right: 10px;
            display: block;
          }
        }
      }
    }
  }
}

.skill-section {
  margin: 0 20px;
}

.blue {
  color: blue !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.edit-user-info {
  overflow: scroll;
  height: calc(100vh - 230px);
}

.font-12 {
  font-size: 12px;
}

.no-scroll {
  overflow: hidden !important;
}


.profile-menu-card {
  .MuiMenu-paper {
    position: absolute;
    top: 78px !important;
    left: 335px !important;
  }

  .profile-menu {
    background: #eff1f9;
  }

  .mini-header {
    background: #253154;
    padding: 14px 20px;
    color: white;
  }

  .min-profile-body {
    padding: 40px 12px 12px !important;
  }

  .connect-btn {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -17px;
    text-align: center;
  }

  .mini-profile-list {
    max-height: calc(100vh - 125px);
    overflow: scroll;
    overflow-x: hidden;
    border: 2px solid #ccc;

    .card-profile {
      border-radius: unset !important;
    }
  }
}

.card-header-profile {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: $card-cap-color;
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;

  .MuiTabs-indicator {
    // width: 146px !important;
  }
}

.user-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.profile-btn {
  display: flex;
  margin: 10px 0;
  justify-content: center;

  .btn-profile {
    height: 20px;

    button {
      color: white;
      font-size: 12px;
    }

    .light-blue {
      background: #4191ff;
      padding: 0;
    }
  }
}

.card-header--title {
  .MuiTab-wrapper {
    text-transform: capitalize;
  }
}

.profile-icon {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  justify-content: center !important;
  margin: auto !important;
  top: -65px !important;
  border: 3px solid #4191ff;
  padding: 5px;
}

.b-login-btn {
  color: white !important;
  margin: 0 !important;
  border-radius: unset !important;
  font-size: 14px !important;
}

#date-picker-inline {
  color: #7a7b97;

}

// For mobile
@media (max-width: 767px) {
  .profile-menu {
    position: fixed;
    width: calc(100vw - 30px) !important;
    margin: auto;
    z-index: 9999;
    left: 0;
    right: 0
  }

  .m-top {
    margin-top: 20px;
  }
}

// For desktop
@media (min-width: 767px) {
  .profile-menu {
    position: fixed;
    width: calc(100vw - 390px) !important;
  }

  .m-top {
    margin-top: 0px;
  }
}