.nav-management {
    background: #27416f !important;

    .MuiList-root.nav-line.nav-line-alt::after {
        background: transparent !important;
    }

    .MuiList-root.nav-line .MuiListItem-root.MuiListItem-button:hover {
        color: white !important;
    }

    .Mui-selected {
        color: white !important;

        .divider {
            background: white !important;
        }
    }
}

.media-icon {
    position: absolute;
    top: 50px;
}

.scroll-h {
    height: calc(100vh - 392px);
}

.left-arrow {
    position: absolute;
    z-index: 99;
    bottom: 0;
    top: 0;
    display: block;
    left: -20px;
    margin: auto;
    background: white;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}