//  Core

.app-drawer-content {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1160;
  height: 100vh;
  transform: translate($header-drawer-width);
  transition: $header-drawer-transition;
  box-shadow: 0 0 0 0 transparent;
  width: $header-drawer-width;
  background: $white;

  .close-drawer-btn {
    transition: $transition-base;
    position: absolute;
    left: -19px;
    width: 38px;
    height: 38px;
    margin: 0;
    top: 19px;
    padding: 0;
    border: 0;
    background: $white;
    color: $white;
    box-shadow: $box-shadow-sm;
    z-index: 1155;
    opacity: 0;
    visibility: hidden;
  }
}

.app-drawer-content-management {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1160;
  height: 100vh;
  transform: translate(650px);
  transition: $header-drawer-transition;
  box-shadow: 0 0 0 0 transparent;
  width: 650px;
  background: $white;

  .close-drawer-btn {
    transition: $transition-base;
    position: absolute;
    left: -19px;
    width: 38px;
    height: 38px;
    margin: 0;
    top: 19px;
    padding: 0;
    border: 0;
    background: $white;
    color: $white;
    box-shadow: $box-shadow-sm;
    z-index: 1155;
    opacity: 0;
    visibility: hidden;
  }
}

.app-drawer-content-message {
  position: absolute;
  // right: 0;
  top: 9px;
  z-index: 10;
  // height: 100vh;
  transform: translate(220px);
  transition: $header-drawer-transition;
  box-shadow: 0 0 0 0 transparent;
  width: 260px;
  background: $white;
  left: -520px !important;
  margin-left: 10px;
  background: #f8f9ff;
  color: white;

  .close-drawer-btn {
    transition: $transition-base;
    position: absolute;
    right: -19px;
    width: 38px;
    height: 38px;
    margin: 0;
    top: 19px;
    padding: 0;
    border: 0;
    background: $white;
    color: $white;
    box-shadow: $box-shadow-sm;
    z-index: 1155;
    opacity: 0;
    visibility: hidden;
  }

  .scroll-menu {
    overflow: scroll;
    height: 445px;
  }

  .active-card {
    border: 1px solid #12c5db;
    border-left: 4px solid #12c5db;
  }

  .pending-card {
    border: 1px solid #f4772f;
    border-left: 4px solid #f4772f;
  }

  .resolved-card {
    border: 1px solid #1fb147;
    border-left: 4px solid #1fb147;
  }

  .active-card,
  .pending-card,
  .resolved-card {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    background: white;
    color: black;
    box-shadow: $box-shadow-layout-bottom;
  }
}

.remove-border-box {
  border: unset !important;
}



.app-drawer-wrapper {
  // border-left: rgba($black, .1) solid 1px;
  // padding: ($spacer / 3.5) 0 ($spacer / 3.5) ($spacer * 2);
  // margin: 0 ($layout-spacer / 3) 0 ($spacer * 2);
  margin: 0 !important;
  padding: 0 !important;
  height: 50px;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    padding: ($spacer / 3.5) 0 ($spacer / 3.5) ($spacer);
    margin: 0 0 0 $spacer;
  }
}

.app-drawer-wrapper-message {
  // border-left: rgba($black, .1) solid 1px;
  // padding: ($spacer / 3.5) 0 ($spacer / 3.5) ($spacer * 2);
  // margin: 0 ($layout-spacer / 3) 0 ($spacer * 2);
  margin: 0 !important;
  padding: 0 !important;
  height: 50px;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    padding: ($spacer / 3.5) 0 ($spacer / 3.5) ($spacer);
    margin: 0 0 0 $spacer;
  }
}


// Open header drawer section

.header-drawer-open {

  .app-drawer-content {
    transform: translate(0);
    box-shadow: $header-drawer-open-box-shadow;
  }

  .app-drawer-content-management {
    transform: translate(0);
    box-shadow: $header-drawer-open-box-shadow;
  }

  .app-drawer-content-message {
    transform: translate(0);
    box-shadow: $header-drawer-open-box-shadow;
    left: 0 !important;
  }

  .close-drawer-btn {
    opacity: 1;
    visibility: visible;
    @include border-radius(100%);
  }
}

// Drawer overlay

.app-drawer-overlay {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 9, 25, .4);
  background: linear-gradient(90deg, rgba(7, 9, 25, .1) 25%, rgba(7, 9, 25, 0.6) 100%);
  z-index: 1112;

  &.is-active {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
  }
}

@include media-breakpoint-down(md) {

  .app-drawer-wrapper,
  .app-drawer-overlay,

  .app-drawer-content {
    display: none;
  }

  // .app-drawer-content-management {
  //   background-color: red;
  // }

  .chat-wrapper-message {
    height: 365px;
  }

  .scroll-menu {
    height: 490px !important;
  }
}

.send-btn {
  position: absolute;
  right: 24px;
  cursor: pointer;
}