.user-new-request {
    position: relative;
    display: block;

    .list-group {
        position: absolute;
        background: white;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 9;

        li {
            cursor: pointer;
            padding: 4px 16px;
            border-radius: 5px;
            margin-bottom: 5px;
            color: #225ce1;
            text-transform: capitalize;
        }

        li:hover {
            background-color: #ccc;
        }
    }
}

.user-id {
    .Mui-disabled {
        background: whitesmoke !important;
        color: #7c7c7c !important;
    }
}