.ir35-background {
    position: relative;
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../images/voxpro-images/ir35_background.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

}

.remove-p {
    padding: 0 !important;
}

.img-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000047;
    z-index: 0;
}

.pt-80 {
    padding-top: 80px;
}

.text-f {
    font-size: 17px;
    // font-weight: 700;
}

.bg-color {
    background-color: #1b233e !important;
}

.no-scroll {
    overflow: hidden !important;
}

.ir35-logo {
    width: 15%;
    height: auto;
}

.f {
    font-size: 15px;
}

.fh {
    font-size: 18px;
}
.fhh {
    font-size: 22px !important;
}
.fhhh {
    font-size: 30px !important;
}
.button-width {
    width: 20vh !important;
}
.mt-10 {
    margin-top: 11vh !important;
}
.angle {
    margin-left: 4px;
    margin-top: 4px;
}