.text-f {
    font-size: 17px;
    // font-weight: 700;
}

.a-blue {
    color: blue !important;
}

.bg-color {
    background-color: #1b233e !important;
}

.no-scroll {
    overflow: hidden !important;
}