// Core

@import "core";

// Fonts

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

// Widgets

@import "widgets";

// Components

@import "components";

// Layout Components

@import "layout-components";

// Layout Blueprints

@import "layout-blueprints";

// @import 'react-notifications/lib/notifications.scss';


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#textfield-user-helper-text {
  margin: auto;
  text-align: right;
  width: 100%;
}

.select-role {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  padding: 7px;
}


.date-picker {
  .MuiIconButton-root {
    padding: 0 !important;
  }
}

.MuiPickersCalendarHeader-switchHeader {
  .Mui-disabled {
    color: #ccc !important;
    background: white !important;
  }
}