// Helpers

// Generic

* {
  outline: none;
}

// Close button

.close {

  &:active,
  &:focus {
    outline: none;
  }
}

a {
  transition: color .2s;
}

.z-over {
  position: relative;
  z-index: 25;
}

.left-0 {
  left: 0 !important;
}

.z-below {
  z-index: 4;
  position: relative;
}

.pulse-animation {
  transition: $transition-base;
  transform: scale(1.1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(.75);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(.75);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(.75);
  }

  100% {
    transform: scale(.75);
  }
}

// Border radius

.br-tl {
  border-top-left-radius: $border-radius-sm !important;
}

.br-tr {
  border-top-right-radius: $border-radius-sm !important;
}

.br-bl {
  border-bottom-left-radius: $border-radius-sm !important;
}

.br-br {
  border-bottom-right-radius: $border-radius-sm !important;
}

body {

  .bl-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .br-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

}

body {
  @include media-breakpoint-up(lg) {
    .br-lg-right-0 {
      @include border-right-radius(0 !important);
    }

    .br-lg-left-0 {
      @include border-left-radius(0 !important);
    }
  }

  @include media-breakpoint-up(xl) {
    .br-xl-right-0 {
      @include border-right-radius(0 !important);
    }

    .br-xl-left-0 {
      @include border-left-radius(0 !important);
    }
  }
}

.progress-constrained {
  box-sizing: content-box;
}

// Opacity

@for $o from 1 through 9 {
  .opacity-#{$o} {
    opacity: $o / 10 !important;
  }
}

// Sizing

$num: 20;

@while $num < 150 {
  .d-#{$num} {
    height: $num +0px !important;
    line-height: $num +0px !important;
    width: $num +0px !important;
  }

  $num: $num+10;
}

// Line height

.line-height-sm {
  line-height: 1.3;
}

.line-height-md {
  line-height: 2;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-normal {
  line-height: normal;
}

.text-indent-0 {
  text-indent: 0 !important;
}

// Height

.h-auto {
  height: auto;
}

.h-100 {
  height: 100%;
}

.h-100px {
  height: 100px;
}

.h-180px {
  height: 180px;
}

.h-240px {
  height: 240px;
}

.h-280px {
  height: 280px;
}

.h-320px {
  height: 320px;
}

// Width

.w-auto {
  width: auto;
}

.w-43 {
  width: 43%;
}

.w-50 {
  @include media-breakpoint-up(md) {
    min-width: 50%;
    width: 50%;
  }
}

@include media-breakpoint-down(sm) {
  body {
    .w-50 {
      width: 100% !important;

    }
  }
}

.max-w-70 {
  max-width: 70%;
}

// Divider

.divider {
  background: $border-color;
  height: 1px;
  overflow: hidden;
}

// Border

.border-1 {
  border-width: 1px !important;
  border-style: solid !important;
}

.border-2 {
  border-width: 2px !important;
  border-style: solid !important;
}

.border-3 {
  border-width: 3px !important;
  border-style: solid !important;
}

// Font size

.font-size-xs {
  font-size: $font-size-xs / 1.2 !important;
}

.font-size-sm {
  font-size: $font-size-sm !important;
}

.font-size-md {
  font-size: $font-size-base !important;
}

.font-size-lg {
  font-size: $font-size-lg !important;
}

.font-size-xl {
  font-size: $font-size-lg * 1.1 !important;
}

.font-size-xxl {
  font-size: $font-size-lg * 1.2 !important;
}

// Composed backgrounds

%composed-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.bg-composed-wrapper {
  position: relative;
  @include border-top-radius(inherit);
  display: flex;
  align-items: center;

  &--image {
    background-size: cover;
    @include border-top-radius(inherit);
    @extend %composed-bg;
  }

  &--content {
    position: relative;
    z-index: 7;
    width: 100%;
  }

  &--bg {
    @extend %composed-bg;
    z-index: 5;
  }
}

.bg-composed-filter-rm {
  filter: grayscale(0%);
}

.bg-repeat {
  background-size: auto;
}

.bg-filter-grayscale {
  filter: grayscale(100%);
}

.transition-base {
  transition: $transition-base !important;
}

// Shadow

.shadow-xxl {
  box-shadow: $box-shadow-xxl !important;
}

.shadow-sm-dark {
  box-shadow: $box-shadow-sm-dark !important;
}

// Background white 50%

.bg-white-50 {
  background-color: transparentize($white, .8);
}

// Text dark

.text-black {
  color: $black;
}

// Images

.img-fit-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Gradient Icons

.gradient-icon {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

// Blockquote

.blockquote {
  font-family: $font-family-monospace;
}

// Position

.p-top-a {
  top: auto !important;
}

.pos-r {
  left: auto;
  right: 0;
}

.hover-scale-sm {
  transition: $transition-base !important;
  transform: scale(1) !important;

  &:hover {
    transform: scale(1.08) !important;
  }
}

.hover-scale-rounded {
  transition: $transition-base !important;
  transform: scale(1) !important;
  box-shadow: none;

  &:hover {
    @include border-radius($border-radius !important);
    transform: scale(1.08) !important;
    box-shadow: $box-shadow-sm-light;
  }
}

.hover-scale-lg {
  transition: $transition-base !important;
  transform: scale(1) !important;

  &:hover {
    transform: scale(1.12) !important;
  }
}

@include media-breakpoint-up(lg) {
  .object-skew {
    transform: scale(0.95) perspective(924px) rotateY(-8deg) rotateX(9deg) rotate(3deg) !important;
  }
}

// Responsive rounded

@include media-breakpoint-down(xl) {

  .rounded-right,
  .rounded-left {
    border-radius: 0 !important;
  }
}

.d-44 {
  height: 44px;
  line-height: 44px;
  width: 44px;
}

.nav-link {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.height-22px {
  height: 22px;
}

.pointer {
  cursor: pointer;
}

.font-10 {
  font-size: 10px;
}

.app-content--inner {
  padding: 1rem !important;
}

.a-blue {
  color: #4191ff !important;
  cursor: pointer;
}

.Mui-disabled {
  color: white !important;
  background: #3c44b1 !important;
}

.svg-none {
  background: none !important;
  width: 20px !important;
  height: 20px !important;
  padding: 2px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.page-title {
  display: block;
  position: relative;
  left: 5px;
  padding: 10px 0;
  height: 100px;

  svg {
    background: white;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 0 3px #fff;
  }

  .title {
    position: absolute;
    top: 9px;
    left: 70px;
  }

  .heading {
    font-weight: 600;
    margin-bottom: 4px;
  }

  p {
    color: rgba(59, 62, 102, 0.5) !important;
  }
}


.react-calendar {
  border-radius: 5px;
}

.react-calendar__navigation {
  margin: 0 !important;
  // .react-calendar__navigation__arrow {
  //   display: none;
  // }

  .react-calendar__navigation__label {
    // font-size: 32px;
  }
}

.react-calendar__tile {
  // height: 20px;
}

.react-calendar__tile--now {
  background: #ccc !important;
}

.react-calendar__tile--active {
  background: #1087ff !important;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 10px;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 10px;
}

.task-calendar {
  background: #253053 !important;

  .react-calendar,
  .react-calendar__navigation__label,
  .react-calendar__navigation__arrow,
  .react-calendar__tile {
    background: #253053 !important;
    color: white !important;
  }

  .react-calendar__tile--now {
    background: #ccc !important;
  }

  .react-calendar__tile--active {
    background: #907ff1 !important;
  }
}


.color-white {
  color: white
}

.mt-12 {
  margin-top: 12px;
}

.ml-14 {
  margin-left: 14px;
}

.user-drop {
  width: 125px !important;

  .MuiFormControl-fullWidth {
    width: 125px !important;
  }
}

.week-remove-m {
  .MuiFormControlLabel-labelPlacementTop {
    margin: 0 !important;
  }

  .MuiFormControlLabel-label {
    font-weight: 700 !important;
  }
}

.see-more {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
}

.create-task-btn {
  padding: 5px 5px 5px 18px;
  cursor: pointer;

  svg {
    width: 40px !important;
    height: 40px !important;
    box-shadow: none !important;
    color: #907ff1 !important;
    margin-left: 10px;
  }
}

.range-meter {
  // border: 1px solid #ccc;
  // padding: 0 11px;
  // border-radius: 20px;
  // margin-top: 12px;
  // height: 20px;
  // position: absolute;
  // width: 110%;
  // top: -7px;
  // left: -13px;

  border: 1px solid #ccc;
  height: 30px;
  padding: 0 12px;
  border-radius: 30px;
  margin-top: 14px;

  .MuiSlider-thumb {
    background: #3d45b1 !important;
  }
}

.react-datepicker__input-container {
  input {
    height: 38px;
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    border: 1px solid #ccc;
    width: 125px !important;
    text-align: center;
  }
}

#react-time-range {
  padding: 0 !important;

  // #end-component {
  //   position: absolute;
  //   top: 27px;
  // }


  .component {
    padding-top: 0px !important;
    // margin-top: -4px;

    .label {
      font-weight: 700 !important;
      white-space: nowrap;
    }
  }

  .component>#select-start:first-of-type,
  #select-end:first-of-type {
    // margin-top: 4px;
    margin-bottom: 0;
    background-color: white !important;
  }

  .error {
    position: absolute;
    top: 65px;
    text-align: left;
  }
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper {
  transform: unset !important;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 0 !important;
}

select {
  height: 38px;
  border-radius: 5px;
  border-top: 0;
  border-left: 0;
  border: 1px solid #ccc;
}

tbody.scroll {
  overflow: scroll !important;
  display: block !important;
}

.chat-menu {
  position: absolute;
  left: 293px !important;
  z-index: 0;
}

.left-border {
  display: block;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.alert-overlay-custom {
  z-index: 9999;
  background: #ffffff69 !important;

  .react-confirm-alert-body {
    width: unset !important;
  }

  h1 {
    font-size: 28px !important;
  }

  .react-confirm-alert-button-group>button {
    padding: 12px 22px !important;
  }
}

.date-error {
  top: 40px;
  position: absolute;
  display: block;
}

// For mobile
@media (max-width: 767px) {
  .chat-menu {
    left: 0 !important;
  }
}

// For desktop
@media (min-width: 767px) {
  .chat-menu {
    left: 293px !important;
  }
}